{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}" />
{% if things %}
    <div class="wrap">
        <div class="header"><span>Todo List</span></div>
            <div class="wrap-list">
                <ol class="list">
                    {% for thing in things %}
                            <li>
                            <a href={% url 'detail' thing.id %}>
                            <input type="checkbox" thing.id >
                            <label for=thing.id> {{thing.title}}</label></a>
                            </li>
                            {%endfor%}
                </ol>
            </div> 
    </div>        
{% else %}
    <p>There is nothing left to do.</p>
{% endif %}